# --- Java & Gradle ---
.gradle/
build/
out/
target/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# --- IntelliJ IDEA ---
.idea/
*.iml
*.iws
*.ipr

# --- Node.js & TypeScript  ---
node_modules/
ui-ts/node_modules/
npm-debug.log
yarn-error.log
package-lock.json # Opcjonalnie: Zazwyczaj się commituje, ale w zadaniach rekrutacyjnych czasem pomija. Zostawmy to, chyba że wolisz nie.

# --- Playwright (artifacts & reports) ---
test-results/
playwright-report/
blob-report/
playwright/.cache/
ui-ts/test-results/
ui-ts/playwright-report/
ui-ts/blob-report/

# --- Environment Variables & Secrets (CRITICAL) ---
.env
ui-ts/.env
.DS_Store

# --- Performance Tests (k6 output) ---
summary.html
*.json
!package.json
!tsconfig.json
!ui-ts/package.json
!ui-ts/tsconfig.json

# --- Auth / Session Files ---
auth.json
ui-ts/auth.json
