name: Playwright Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17' # Zostawiłem 17, bo tak masz w konfiguracji niżej, mimo nazwy kroku JDK 21
          distribution: 'temurin'
          cache: 'gradle'

      - name: Install system dependencies (Fix for Ubuntu 24.04)
        run: |
          sudo apt-get update
          # Instalujemy bibliotekę z nowym przyrostkiem t64, której szuka system
          sudo apt-get install -y libasound2t64 
          # Instalacja pozostałych zależności przez npx
          sudo npx playwright install-deps chromium

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Install browsers
        run: ./gradlew installBrowsers

      - name: Run tests
        run: ./gradlew test --stacktrace

      - name: Upload HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: build/reports/tests/test/
